a.active{
    color: orange;
}

.slider-container {
    position: relative;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .slick-prev {
    left: 10px;
  }
  
  .slick-next {
    right: 10px;
  }
  